<%= form_for(@route) do |f| %>
  <% if @route.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@route.errors.count, "error") %> prohibited this route from being saved:</h2>

      <ul>
      <% @route.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  
  </div>

  <div class="field">
    <%= f.label :railway_station_ids, t('.route_stations') %><br>
    <%= f.collection_select :railway_station_ids,
                            RailwayStation.all, :id, :title, {},
                            { multiple: true, class: 'form-control' } %>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
    <div>
      <%=f.fields_for :train do |tr|%>
        <%= tr.label :number %><br>
        <%= tr.collection_select(:id, Train.all, :id, :number) %>
      <% end %>
    </div>
    

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>